@forward "home";
@forward "ejercicio1";
@forward "ejercicio2";
@forward "ejercicio3";
@forward "ejercicio4";
@forward "ejercicio5";
@forward "ejercicio6";
@forward "ejercicio7";
@forward "ejercicio8";
@forward "ejercicio9";
